* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: whitesmoke;
  width: 24rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
}

.screen {
  margin-bottom: 4rem;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.button {
  background-color: white;
  border: none;
  height: 4rem;
  padding: 10px;
  border-radius: 0.8rem;
  cursor: pointer;
  color: rgb(83, 80, 80);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  transform: scale(1.1);
  transition: ease-in 0.2;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
}
.button:active {
  transform: scale(0.9);
  transition: ease-in-out 0.2;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.3);
}
.equals {
  background-color: aquamarine;
  grid-column: 3/5;
}
.opt {
  background-color: #f79505;
}
.screen {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-weight: 600;
}
